spring:
  datasource:
    url: jdbc:mysql://${DB_URL}:3306/semogong # jdbc:h2:tcp://localhost/~/semogong #
    username: ${DB_NAME} # park #
    password: ${DB_PASSWORD} #
    driver-class-name: com.mysql.cj.jdbc.Driver # org.h2.Driver #

  jpa:
    hibernate:
      ddl-auto : update # update !!!! 꼭 AWS 쓸 때는 update 로 !!!!
    properties:
      hibernate:
        format_sql : true

  servlet:
    multipart:
      maxFileSize: 10MB
      maxRequestSize: 20MB

cloud:
  aws:
    credentials:
      accessKey: ${S3_ID}
      secretKey: ${S3_PASSWORD}
    s3:
      bucket: ${S3_NAME}
    region:
      static: ${S3_REGION}
    stack:
      auto: false

logging:
  level:
    org.hibernate.SQL: debug
#    org.hibernate.type: trace # p6spy로 대체
