<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<!-- Responsive navbar-->
<nav th:replace="fragments/navbar :: navbar"/>

<div class="container" style="padding-top: 10px">
    <form role="form" action="/members/signup" th:object="${memberForm}" method="post">
        <!-- 해당 from 안에서는 memberForm을 사용하겠다는 것, memberForm은 Model을 통해 객체로 접근했기에 가능-->
        <label class="form-label" th:for="loginId">ID *</label>
        <div class="input-group mb-3 has-validation">
            <input type="text" th:field="*{loginId}" class="form-control" placeholder="아이디를 입력하세요!"
                   th:class="${#fields.hasErrors('loginId')}? 'form-control is-invalid' : 'form-control'">
            <div th:if="${#fields.hasErrors('loginId')}" class="invalid-feedback" th:errors="*{loginId}">Incorrect
                date
            </div>
        </div>
        <label class="form-label" th:for="password">PassWord *</label>
        <div class="input-group mb-3 has-validation">
            <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요!" th:class="${#fields.hasErrors('password')}? 'form-control is-invalid' : 'form-control'">
            <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback" th:errors="*{password}">Incorrect
                date
            </div>
        </div>
        <label class="form-label" th:for="name">이름 *</label>
        <div class="input-group mb-3 has-validation">
            <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력하세요!" th:class="${#fields.hasErrors('name')}? 'form-control is-invalid' : 'form-control'">
            <div th:if="${#fields.hasErrors('name')}" class="invalid-feedback" th:errors="*{name}">Incorrect date
            </div>
        </div>
        <label class="form-label" th:for="nickname">닉네임</label>
        <div class="input-group mb-3">
            <input type="text" th:field="*{nickname}" class="form-control" placeholder="닉네임을 입력하세요!">
        </div>
        <label class="form-label" th:for="desiredJob">희망 직무</label>
        <div class="input-group mb-3">
            <input type="text" th:field="*{desiredJob}" class="form-control" placeholder="희망 직무를 입력하세요!">
        </div>
        <label class="form-label" th:for="introduce">자기 소개</label>
        <div class="input-group mb-3 has-validation">
            <input type="text" th:field="*{introduce}" class="form-control" placeholder="간단하게 자기소개를 해주세요!">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br/>
</div>
<div th:replace="fragments/footer :: footer"/>
<!-- Bootstrap core JS-->
<script src="/js/bootstrap.bundle.js"></script>
</body>
</html>
