
/* css 추가 */

.member-detail {
    text-decoration: none;
}

.member-detail:hover {
    background-color: lightgray !important;
}


.profile_img_box1{
    width:100px;
    height:100px;
    border-radius: 70%;
    overflow: hidden;
}

.profile_img_box2{
    width:30px;
    height:30px;
    border-radius: 70%;
    overflow: hidden;
}

.margin1{
    margin-right: 50px;
}

/* animation */

.col-lg-6:hover .card_box, #recentPost:hover .card_box {
    background-color: #f8f9fa;
}

.member-profile-link:hover {
    font-weight: 700 !important;
}

.member-profile-link2:hover {
    color: lightseagreen !important;
}

/* boot 수정 */

.btn-outline-dark{
    border : none !important;
}



/* media query */

@media (max-width: 992px) {
    .col-lg-4 {
        order:1;
    }
    .col-lg-8{
        order: 2;
    }
}

@media (max-width: 400px) {
    #media-hide {
        display: none !important;
    }
}


@media (min-width: 1400px) {
    .container {
        max-width: 1600px !important;
    }
    .col-lg-8{
        width: 80% !important;
    }
    .col-lg-6{
        width:25% !important;
    }
    .col-lg-5{
        width:33.3333% !important;
    }
    .col-lg-4{
        width:20% !important;
    }
}


.reload {
    transform:             rotate( 360deg );
    -moz-transform:    rotate( 360deg );
    -ms-transform:     rotate( 360deg );
    -o-transform:      rotate( 360deg );
    -webkit-transform: rotate( 360deg );
    transition:             transform 1000ms ease;
    -moz-transition:    -moz-transform 1000ms ease;
    -ms-transition:     -ms-transform 1000ms ease;
    -o-transition:      -o-transform 1000ms ease;
    -webkit-transition: -webkit-transform 1000ms ease;
}