
.banner{
    width:100%;
    display:flex;
    justify-content: center;
    border:1px solid black;
}

.content{
    border:1px solid black;

}

.title_box,.information_box,.review_box,.text_box{
    width:100%;
    display:flex;
    justify-content:center;
    border:1px solid black;
}


.review_information{
    border:1px solid black;
    display:flex;
    justify-content:left;
}

.review_img{
    border:1px solid black;
}

.review_name{
    border:1px solid black;
    font-size:14px;
}

.review_date{
    border:1px solid black;
    font-size:14px;
    color:lightgray;

}

.review_text{
    border:1px solid black;
    font-size:14px;
}

.property_box1{
    width:100%;
}

.property_subbox1{
    width:20%;
    margin: 10px 20px 10px 0px;

}

.property_subtext1{
    margin:0px 5px 0px 5px;
}


.row-l{
    display:flex;
    justify-content: left;
}

.row-r{
    display:flex;
    justify-content: right;
}

.row-c{
    display:flex;
    justify-content: center;
}

.col-c{
    display: flex;
    align-items: center;
}

.review{
    width:100%;
}

.modal_day{
    color:gray;
    font-size:11px;
    margin:3px 0px 0px 5px;
}

.profile_img_box1{
    width:100px;
    height:100px;
    border-radius: 70%;
    overflow: hidden;
}

.profile_img_box2{
    width:30px;
    height:30px;
    border-radius: 70%;
    overflow: hidden;
    margin:0px 2px 0px 2px;
}
.modal_comments{
    width:80%;
    margin:-5px 0px 0px 3.5%;
    color:rgb(55, 53, 47);
    font-size:14px;

}
.review_writer{
    color:black;
    font-weight: bold;
    font-size:15px;
}