<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body >


<!-- Responsive navbar-->
<nav th:replace="fragments/navbar :: navbar"/>

<div id="postEdit_container" class="container" style="padding-top: 10px">
<!--    <iframe id="iframe1" name="iframe1" style="display:none"></iframe>-->
<!--    <form role="form" th:action="@{/posts/edit/{id}/img (id=${postForm.id})}" target="iframe1" method="post" enctype="multipart/form-data" style="margin-bottom: 20px;">-->
    <div class="mb-3">
        <label class="form-label" th:for="image" style="display: inline-block"><strong>배경 이미지</strong></label>
        <div th:id="'post_img_name'+${postForm.id}" class="form-label" th:if="${postForm.image == null}" style="display: inline-block"> ( 지정된 이미지가 없습니다 )</div>
        <div th:id="'post_img_name'+${postForm.id}" th:if="${postForm.image != null}" style="display: inline-block">( 현재 이미지 : <p class="mb-0" style="display: inline-block; font-weight: bold;"
                                                                                      th:text="${postForm.image.imgName}"></p>&nbsp;)
        </div>

        <div class="input-group" style="height: 30px; width: 300px; margin-bottom:20px;" >
            <input class="form-control" id="file" name="file" type="file" accept=".jpg, .png">
            <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04" th:onclick="|javascript:image_upload(${postForm.id})|">확인</button>
        </div>
        <div class="input-group mb-3 d-sm-flex">
            <img th:id="'post_img' + ${postForm.id}" class="mb-2 img-thumbnail" height="150px" width="270px" th:if="${postForm.image != null}" th:src="${postForm.image.imgSrc}" alt="profile">
            <img th:id="'post_img' + ${postForm.id}" class="img-thumbnail"  height="150px" width="270px" th:if="${postForm.image == null}" src="/images/semogong_light.jpg">
        </div>
    </div>
<!--    </form>-->

    <form role="form" th:id="|formPost${postForm.id}|" th:action="@{/posts/edit/{id} (id=${postForm.id})}" th:object="${postForm}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div id="time_input">
            <label class="form-label mb-3" th:for="times"><strong>학습 시간</strong></label>
            <button class="btn btn-outline-secondary btn-sm" type="button" id="button-addon2" style="padding: 1px 6px; margin-left: 3px;"
                    onclick="add_box()">
                +
            </button>
            <div class="card-text mb-3" id="add_group">
                <span th:id="timeNum+${i}" th:each="i: ${#numbers.sequence(0, #lists.size(postForm.times)-1)}">
                    <div style="display: inline-block; flex: 0 0 auto; width: 70px;" class="position-relative">
                        <input type="text" th:field="*{times[__${iStat.index}__]}" class="form-control">
                        <button th:if="${i != 0}" th:onclick="|javascript:remove_box(${i})|" style="border: none; padding: 3px 5px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            x
                        </button>
                    </div>
<!--                    <button class="btn btn-outline-danger" type="button"
                            th:onclick="|javascript:remove_box(${i})|">X
                    </button>-->
                    <p class="mb-0" style="display: inline-block" th:if="${i % 2 == 0}">~</p>
                    <p class="mb-0" style="display: inline-block" th:if="${i % 2 != 0}">&nbsp;&nbsp;</p>
                </span>
            </div>
        </div>
        <label class="form-label" th:for="title"><strong>제목</strong></label>
        <div class="input-group mb-3 has-validation">
            <input type="text" th:field="*{title}" class="form-control" placeholder="제목을 입력하세요!" autocomplete="off"
                   th:class="${#fields.hasErrors('title')}? 'form-control is-invalid' : 'form-control'">
            <div th:if="${#fields.hasErrors('title')}" class="invalid-feedback" th:errors="*{title}">Incorrect date
            </div>
        </div>
        <label class="form-label" th:for="nickname"><strong>오늘의 한 줄</strong></label>
        <div class="input-group mb-3">
            <input type="text" th:field="*{introduce}" class="form-control"
                   placeholder="오늘 하루를 정리하는 문장을 적어주세요!">
        </div>
        <label class="form-label" th:for="content"><strong>내용</strong></label>
        <div class="mb-2">
            <textarea type="text" rows="4" th:field="*{content}" th:id="'content'+${postForm.id}" placeholder="Content" class="form-control"
                      autocomplete="off"></textarea>
        </div>

        <div class="d-sm-flex justify-content-between mb-2">
            <button class="btn btn-danger" type="button"
                    th:onclick="|javascript:post_delete_check(${postForm.id})|">Delete</button>
            <button class="btn btn-primary" type="button" th:onclick="|javascript:post_edit(${postForm.id})|">Submit</button>
        </div>
    </form>
    <script th:inline="javascript" type="text/javascript">
        var state = [[${postForm.state}]];
        var times = [[${postForm.times}]];
        var times_len = times.length;
        function add_box() {
            if (times_len % 2 == 0) {
                $("#add_group").append(
                    '<span id="timeNum' + times_len + '"> ' +
                    '<div style="display: inline-block; flex: 0 0 auto; width: 70px;" class="position-relative"> ' +
                    '<input type="text" id="times' + times_len + '"' + 'name="times[' + times_len + ']" class="form-control" >' +
                    '<button style="border: none; padding: 3px 5px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" type="button" onclick="remove_box(' + times_len + ')">x</button>' +
                    '</div>' +
                    '<p class="mb-0" style="display: inline-block">~</p>' +
                    '</span>'
                );
            } else {
                $("#add_group").append(
                    '<span id="timeNum' + times_len + '"> ' +
                    '<div style="display: inline-block; flex: 0 0 auto; width: 70px;" class="position-relative"> ' +
                    '<input type="text" id="times' + times_len + '"' + 'name="times[' + times_len + ']" class="form-control" >' +
                    '<button style="border: none; padding: 3px 5px;" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" type="button" onclick="remove_box(' + times_len + ')">x</button>' +
                    '</div>' +
                    '<p class="mb-0" style="display: inline-block">&nbsp;&nbsp;</p>' +
                    '</span>'
                );
            }
            times_len++;
        }

        function remove_box(i) {
            const to_remove = document.getElementById('timeNum' + i);
            to_remove.remove();
            times_len--;
        }
    </script>
</div>

<div th:replace="fragments/footer :: footer"/>

<script th:inline="javascript" type="text/javascript">

    var postId = [[${postForm.id}]];

    var simplemde[[${postForm.id}]] = new SimpleMDE({element: document.getElementById("content"+postId), spellChecker: false});

    function post_delete_check(id) {
        var check = confirm("정말 삭제하시겠습니까?");
        if (check){    //확인
            alert("삭제가 완료 되었습니다.")
            $.ajax({
                url: 'posts/delete/' + id,
                type: "DELETE"
            })
                .done(function () {
                    location.reload();
                })
        }else{   //취소
            return false;
        }
    }

    function upload_check() {
        setTimeout(function(){alert("이미지 변경이 완료 되었습니다!");location.reload();},500);
    }

    function post_edit(id) {
        var formData = $("#formPost"+id).serializeArray();
        eval("formData[formData.length - 1].value =" + "simplemde"+id+".value()");
        // formData[formData.length - 1].value = simplemde.value(); // content

        if (formData[formData.length - 3].value == '') { // title
            alert("제목을 입력해주세요!");
            var title = document.getElementById("title");
            title.setAttribute('class','form-control is-invalid');
            document.getElementById("times0").scrollIntoView();
        } else {
            $.ajax({
                url: '/posts/edit/' + id,
                type: "POST",
                data: formData
            })
                .done(function () {
                    location.href='/';
                });
        }

    }

    function image_upload(id){

        var formData = new FormData();
        var image = $("#file")[0].files[0];


        formData.append( "file", image);

        if(image == null){
            alert("파일을 선택해주세요");
            return;
        }

        $.ajax({
            url : "/posts/edit/"+id+"/img"
            , type : "POST"
            , processData : false
            , contentType : false
            , data : formData
            , success:function(response) {
                alert("이미지 변경이 완료 되었습니다!");
                var imgSrc = response.imgSrc;
                var imgName = response.imgName;
                $("#post_img"+id).replaceWith(
                    '<img id="post_img'+ id +'" class="img-thumbnail"  height="150px" width="270px" src="'+ imgSrc +'">'
                )
                $('#post_img_name'+id).replaceWith(
                    '<div id="post_img_name'+ id + '" style="display: inline-block">' +
                    '( 현재 이미지 : <p class="mb-0" style="display: inline-block; font-weight: bold;">'+imgName+'</p>&nbsp;)' +
                    '</div>'
                )

            }
            ,error: function ()
            {
                alert("업로드 실패");
            }
        });
    }




</script>

</body>
</html>