<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:fragment="header">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<!--    <meta name="description" content="SEMOGONG"/>-->
<!--    <meta name="author" content="Talk_With"/>-->
    <meta property="og:title" content="세모공 - 세상의 모든 공부" />
    <meta property="og:url" content="http://semogong.site/" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://semogong-bucket.s3.ap-northeast-2.amazonaws.com/semogong_logo.jpg" />
    <meta property="og:description" content="TIL 공유 사이트, 오늘 한 공부를 공유해보세요!" />
    <title>SeMoGong</title>
    <!-- Favicon-->
    <link rel="icon" type="image/png" href="/assets/favicon.png"/>
    <!-- Bootstrap core CSS-->
    <link href="/css/bootstrap.css" rel="stylesheet"/>
    <!-- Markdown Editor CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <!-- Toast MDE Editor CDN -->
<!--    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />-->
    <!-- Font -->
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square-round.css" rel="stylesheet">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css" rel="stylesheet">
    <style>
        body {
            font-family: 'NanumSquareRound';
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>