<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header :: header"/>
<head th:replace="fragments/addheader :: addheader"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<!-- Responsive navbar-->
<nav th:replace="fragments/navbar :: navbar"/>
<!-- Page header with logo and tagline-->

<!-- Page header with logo and tagline-->
<header id="comeon" class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="fw-bolder">Ranking</h1>
        </div>
    </div>
</header>

<div class="container" style="padding: 0 20px">
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold"> <span
                            class="ml-1 h5 font-weight-bolder">Weekly Statics</span></h6>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart" height="350"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold"> <span
                            class="ml-1 h5 font-weight-bolder">Weekly Ranking</span></h6>
                </div>
                <div class="card-body">
                    <div class="row" th:each="mem: ${members}">
                        <div class="card-text d-flex justify-content-between" style="margin: 3px 0px 5px 3px;">
                            <div class="d-flex">
                                <div style="margin-right: 20px;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="14" style="display:inline-block;" th:styleappend=" |fill:${mem.color}|" viewBox="0 0 16 16">
                                        <rect rx="5" ry="5" width="30" height="10"/>
                                    </svg>
                                </div>
                                <div class="profile_img_box2 d-sm-flex justify-content-center">
                                    <img th:if="${mem.image != null}"
                                         th:src="${mem.image.imgSrc}" alt="profile">
                                    <img th:if="${mem.image == null}" src="/images/profile.png">
                                </div>
                                <div class="fw-bold" style="display:inline-block; margin-left: 5px" th:text="${mem.name}"></div>
                                <div th:if="${mem.time != null}" th:text="${mem.time.hour}+ '시간 ' + ${mem.time.min} + '분'" class="d-sm-flex justify-content-end border small" style="background-color: #f6f6f6; border-radius: 0.2em; padding: 2.5px 0px 2.5px 0px; margin-left: 10px"></div>
                                <div th:if="${mem.time == null}" class="d-sm-flex justify-content-end border small" style="background-color: #f6f6f6; border-radius: 0.2em; padding: 2.5px 0px 2.5px 5px; margin-left: 10px" > 0시간 0분 </div>
                            </div>
                            <div id="media-hide" class="d-sm-flex justify-content-end" style="padding: 2.5px 2.5px; margin-left: 10px">최근 7일 중&nbsp;<strong th:text="|${mem.workCnt}일|"></strong>&nbsp;공부</div>
                        </div>
                        <hr class="mb-2">
                    </div>
                    <div class="text-secondary" style="margin-top: 10px;">❕ 1시간 이상의 이용자만 표시됩니다.</div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-center">
                            <h6 class="m-0 font-weight-bold"> <span
                                    class="ml-1 h6 fw-bold">금주의 공부왕👑</span></h6>
                        </div>
                        <div class="card-body" th:with="mem=${members[0]}">
                            <div class="d-flex justify-content-center">
                                <div class="profile_img_box2 d-sm-flex justify-content-center">
                                    <img th:if="${mem.image != null}"
                                         th:src="${mem.image.imgSrc}" alt="profile">
                                    <img th:if="${mem.image == null}" src="/images/profile.png">
                                </div>
                                <div style="display:inline-block; margin-left: 3px; font-size: larger" class="fw-bold" th:text="${mem.name}"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header d-flex justify-content-center">
                            <h6 class="m-0 font-weight-bold"> <span
                                    class="ml-1 h6 fw-bold">금주의 출석왕🏅</span></h6>
                        </div>
                        <div class="card-body" th:with="mem=${attendTop}">
                            <div class="d-flex justify-content-center">
                                <div class="profile_img_box2 d-sm-flex justify-content-center">
                                    <img th:if="${mem.image != null}"
                                         th:src="${mem.image.imgSrc}" alt="profile">
                                    <img th:if="${mem.image == null}" src="/images/profile.png">
                                </div>
                                <div style="display:inline-block; margin-left: 3px; font-size: larger" class="fw-bold" th:text="${mem.name}"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JS-->
<script src="/js/bootstrap.bundle.min.js"></script>
<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/chart/chart-area-demo.js"></script>
<script th:inline="javascript" type="text/javascript">
    var staticDays = [[ ${staticDays}]];

    function enterKey() {
        if (window.event.keyCode == 13) {
            $("#search_button").click();
        }
    }

    var datasets = [];
    [# th:each="user, stat : ${staticsDataMap}"]
    var user[[${stat.count}]] = [[${user.value}]];
    if (user[[${stat.count}]][staticDays[6]].hour !== 0) {
        datasets.push({
            label: [[${user.key.name}]],
            lineTension: 0.3,
            backgroundColor: "rgba(33,37,41,0)",
            borderColor: [[${user.key.color}]],
            pointRadius: 3,
            pointBackgroundColor: [[${user.key.color}]],
            pointBorderColor: [[${user.key.color}]],
            pointHoverRadius: 3,
            pointHoverBackgroundColor: [[${user.key.color}]],
            pointHoverBorderColor: [[${user.key.color}]],
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: [user[[${stat.count}]][staticDays[0]].hour + Math.round(user[[${stat.count}]][staticDays[0]].min/60),
                user[[${stat.count}]][staticDays[1]].hour+ Math.round(user[[${stat.count}]][staticDays[1]].min/60),
                user[[${stat.count}]][staticDays[2]].hour+ Math.round(user[[${stat.count}]][staticDays[2]].min/60),
                user[[${stat.count}]][staticDays[3]].hour+ Math.round(user[[${stat.count}]][staticDays[3]].min/60),
                user[[${stat.count}]][staticDays[4]].hour+ Math.round(user[[${stat.count}]][staticDays[4]].min/60),
                user[[${stat.count}]][staticDays[5]].hour+ Math.round(user[[${stat.count}]][staticDays[5]].min/60),
                user[[${stat.count}]][staticDays[6]].hour+ Math.round(user[[${stat.count}]][staticDays[6]].min/60)],
        });
    }

    [/]


    // Area Chart Example
    var ctx = document.getElementById("myAreaChart");

    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [staticDays[0]+'일',staticDays[1]+'일',staticDays[2]+'일',staticDays[3]+'일',staticDays[4]+'일',staticDays[5]+'일',staticDays[6]+'일'],
            datasets: datasets,
        },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                }
            },
            scales: {
                xAxes: [{
                    time: {
                        unit: 'date'
                    },
                    gridLines: {
                        display: false,
                        drawBorder: false
                    },
                    ticks: {
                        maxTicksLimit: 7
                    }
                }],
                yAxes: [{
                    ticks: {
                        maxTicksLimit: 5,
                        padding: 10,
                        // Include a dollar sign in the ticks
                        callback: function (value, index, values) {
                            return number_format(value) + '시간';
                        }
                    },
                    gridLines: {
                        color: "rgb(234, 236, 244)",
                        zeroLineColor: "rgb(234, 236, 244)",
                        drawBorder: false,
                        borderDash: [2],
                        zeroLineBorderDash: [2]
                    }
                }],
            },
            legend: {
                display: false
            },
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 14,
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                intersect: false,
                mode: 'index',
                caretPadding: 10,
                callbacks: {
                    label: function (tooltipItem, chart) {
                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                        return datasetLabel + " : "+ number_format(tooltipItem.yLabel) + '시간';
                    }
                }
            }
        }
    });
</script>
</body>