<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="fragments/header :: header"/>
<head th:replace="fragments/addheader :: addheader"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<body>
<!-- Responsive navbar-->
<nav th:replace="fragments/navbar :: navbar"/>
<!-- Page header with logo and tagline-->

<!-- Page header with logo and tagline-->
<header id="comeon" class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="fw-bolder">Statics</h1>
        </div>
    </div>
</header>

<img width="100%" height="100%" th:src="${plot}">
<!-- Bootstrap core JS-->
<script src="/js/bootstrap.bundle.min.js"></script>
</body>